<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>PDP Review</h1>
    <p>
      <%= @pdp.review_student %>
    </p>
  </body>
</html>
