<li>
<div class="card">
  <div class="card-divider">
    <%= student.id %>
  </div>
  <div class="card-image">
    <%= link_to image_tag(student.image_url(:thumb).to_s), student %>
  </div>
  <div class="card-title">
    <%= link_to student.full_name, student %>
  </div>
  <div class="card-section">
    <p><%= mail_to student.email %></p>
    <a href="https://www.facebook.com/"><i class="fi-social-facebook"></i></a>
  </div>
</div>
</li>
