<% content_for :title do %>
Courses
<% end %>

<p id="notice"><%= notice %></p>

<%= link_to 'New Course', new_course_path %>

<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
<%= render @courses %>
</ul>
